<h1>Sign In</h1>

<%= form_for(:authentication_page, url: '/sessions') do |f| %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	
	<%= f.label :password %>
	<%= f.password_field :password %>
	
	<%= f.submit "Sign in"%>
<% end %>
